{% extends "base_background.html" %}
{% load crispy_forms_filters %}
{% block title %}Login{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="card-title">Login</h4>
        </div>
        <div class="card-body">
          {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              Invalid Credentials!
            </div>
          {% endif %}
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
