{% extends "base_background.html" %}
{% block title %}Cook Details{% endblock title %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
{% block content %}
  <div class="container mt-5 pt-5">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-4">
          {% if cook.get_image_url %}
            <img src="{{ cook.get_image_url }}" class="card-img" alt="{{ cook.username }}">
          {% else %}
            <img src="{% static 'img/default_cook.jpg' %}" class="card-img" alt="Default Image">
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="mb-0">Cook username: {{ cook.username }}</h3>
              <div>
                <a href="{% url 'kitchen:cook_update' cook.id %}" class="btn btn-primary btn-sm">Update</a>
                <a href="{% url 'kitchen:cook_delete' cook.id %}" class="btn btn-danger btn-sm">Delete</a>
              </div>
            </div>
            <p><strong>First name:</strong> {{ cook.first_name }}</p>
            <p><strong>Last name:</strong> {{ cook.last_name }}</p>
            <p><strong>Years of experience:</strong> {{ cook.years_of_experience }}</p>
            <p><strong>Is staff:</strong> {{ cook.is_staff }}</p>
            <div class="mt-4">
              <h4>Dishes:</h4>
              {% for dish in cook.dishes.all %}
                <div class="mb-3">
                  <hr>
                  <p><strong>Name:</strong> {{ dish.name }}</p>
                  <p><strong>Dish type:</strong> {{ dish.dish_type.name }}</p>
                  <p class="text-muted"><strong>ID:</strong> {{ dish.id }}</p>
                </div>
              {% empty %}
                <p>No dishes!</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
