{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>Dish list<a href="{% url 'kitchen:dish_create' %}">+</a></h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔎" class="btn btn-primary">
  </form>
  {% if dish_list %}
    {% for dish in dish_list %}
      <ul>
        <li><a href="{% url 'kitchen:dish_detail' dish.id %}">{{ dish.name }}, Price: {{ dish.price }} Dish
          type: {{ dish.dish_type }}</a></li>
      </ul>
    {% endfor %}
  {% else %}
    <p>There are no dishes!</p>
  {% endif %}
{% endblock %}