<!DOCTYPE "html">
<html lang="en">
<head>
  <title>Restaurant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<h1>Hello</h1>
<h3>Available</h3>
<ul>
  <li>Num dishes: {{ num_dishes }}</li>
  <li>Num dish types: {{ num_dish_type }}</li>
  <li>Num cooks: {{ num_cooks }}</li>
</ul>
</body>
</html>